
.lista_produtos {
    padding-left: 0;
    list-style-type: none;
}

.lista_produtos strong{
    display:block;
}

.lista_produtos span{
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: green;
    color: white;
}

.lista_produtos .esgotado{
    background-color: black;
    text-decoration-color: red;
}